@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
$main-font: 'Roboto', sans-serif;
$main-color: 	#DAA520;


  .listMovies {
    display: flex;
    background-color: #fff;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    &__header {
      flex-basis: 100%;
      margin: 30px 0;
      background-color: $main-color;
      font-size: 3rem;
      font-weight: bold;
      font-family: $main-font;
      text-align: center;
      padding: 10px;
      letter-spacing: 2px;
    }
}

.movies {
  flex-basis: 25%;
  margin: 15px 5px;
  height: 380px;
  box-shadow: 0 0 4px #000;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
  }
  &:focus {
    transform: scale(1.6);
    transition: 1s;
  }
  &__image {
    width: 100%;
    height: 75%;
  }
  &__title {
    flex-basis:100%;
    font-family: monospace;
    font-size: 16px;
    height: 40px;
    text-align: center;
  }
  &__category {
    font-size: 15px;
    font-family: monospace;
    color: $main-color;
    margin: 0 0 1px 5px;
  }
  &__rating {
    font-size: 15px;
    font-family: monospace;
    margin: 0 0 1px 5px;
  }
}
