$main-color: #DAA520;
$default-font: arial;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

.modal {
  // pierwszy flex przed tym to listMovies i od tego bierze własciwosci
  //pozycja
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #DAA520;
  // wygląd
  width: 90%;
  top: 40px;
  height: 85%;
  background-color: #DAA520;
  box-shadow: 0 0 10px #000;
  &__image {
    flex-basis: 30%;
    max-height: 100%;
  }
  &__info {
    display: flex;
    flex-basis: 65%;
    flex-wrap: wrap;
    background-color: white;
  }
  &__rating {
    flex-basis: 100%;
    border: 2px solid black;
    font-family: monospace;
  }
  &__title{
    font-family: monospace;
  }
  &__plot {
    flex-basis: 100%;
    padding: 20px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid yellow;
  }
  &__buttons {
    border: 1px solid black;
    flex-basis: 100%;
    align-self: flex-end;
    height: 10%;
    justify-content: center;
  }
  &__btnTrailer {
      float:left;
      width: 50%;
      height: 100%;
      background-color: $main-color;
      text-align: center;
  }
  &__btn {
      float:left;
      width: 50%;
      height: 100%;
  }
}
