$main-color: #DAA520;
$default-font: arial;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');


#background {
  position: fixed;
  // z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
  // background-color: $main-color;
  // filter:blur(3px);

}
.modal {
  // pierwszy flex przed tym to listMovies i od tego bierze własciwosci
  //pozycja
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  top: 100px;
  left: 50%;
  margin-left: -500px;
  text-align: center;
  z-index: 5;
  // wygląd
  background-color: #DAA520;
  height: 600px;
  width: 1000px;
  box-shadow: 0 0 10px #000;
  &__image {
    flex-basis: 40%;
  }
  &__main {
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
    background-color: white;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    font-family: monospace;
    box-shadow: 10px 10px 20px #000;
    margin-bottom: 15px;
    position: relative;
    right: 25px;
    top: 15px;
    background-color: white;
  }
  &__title {
    flex-basis: 100%;
    font-family: monospace;
    font-weight: 100;
    text-transform: uppercase;
    margin: 15px 30px;
  }
  &__categoryList {
    flex-basis: 100%;
    list-style: none;
    font-size: 15px;
    font-family: monospace;
    color: $main-color;
    border-bottom: 1px solid $main-color;
    margin: 0 20px 15px 20px;
  }
  &__categoryItem {
    float: left;
    padding: 0 10px;
    &:nth-last-child(3) {
      margin-left: 0;
      padding-right: 220px;
    }
  }
  &__resultsList {
    flex-basis: 100%;
    list-style: none;
    margin: 0 20px 15px 20px;
  }
  &__resultsItem {
    float: left;
    padding: 0 10px;
  }
  &__plot {
    flex-basis: 100%;
    padding: 30px 15px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
  }
  &__buttons {
    flex-basis: 100%;
    align-self: flex-end;
    height: 10%;
    justify-content: center;
  }
  &__btnTrailer {
      float:left;
      width: 50%;
      height: 100%;
      padding: 15px 0;
      background-color: $main-color;
      text-align: center;
      cursor: pointer;
      font-family: monospace;
      font-weight: 100;
      text-transform: uppercase;
      font-weight: bolder;
  }
  &__btn {
      float:left;
      width: 50%;
      height: 100%;
      padding: 15px 0;
      text-align: center;
      cursor: pointer;
      font-family: monospace;
      text-transform: uppercase;
      font-weight: bolder;
  }
}
.modal a {
  text-decoration: none;
  color: black;
}
