.searching {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  border: 5px solid $main-color;
  padding: 15px 0;
  font-family: $main-font;
  &__image {
    height: 70px;
    padding: 0 3%;
    cursor: pointer;
  }
  &__input {
    flex-grow: 1;
    height: 40px;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 1.8rem;
    font-family: $main-font;
    text-transform: uppercase;
  }
  &__btn {
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    margin-right: 1%;
    font-family: $main-font;
    background-color: white;
    cursor: pointer;
  }
  &__btnSearch {
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    margin-right: 4%;
    font-family: $main-font;
    background-color: white;
    cursor: pointer;
  }
}
