@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
$main-color:	#DAA520;
$main-font: 'Roboto', sans-serif;


.searching {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  border: 3px solid $main-color;
  padding: 5px 0;
  font-family: $main-font;
  &__image {
    justify-content: flex-start;
    height: 50px;
    padding: 0 3%;
    cursor: pointer;
  }
  &__input {
    flex-grow: 1;
    height: 25px;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 1.4rem;
    text-transform: lowercase;
    font-family: $main-font;
  }
  &__p {
    font-size: 8px;
    padding:3px;
    border: 1px solid $main-color;
    margin: 2px;
    cursor: pointer;
  }
  &__btn {
    border:1px solid $main-color;
    padding: 0 8px;
    margin-right: 4%;
    height: 25px;
    font-family: $main-font;
    cursor: pointer;
  }
}
