$main-color: #DAA520;
$default-font: arial;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  //kontener
  display: flex;
  flex-wrap: wrap;
  //pozycja
  max-width:1000px;
  margin: 5px auto 0 auto;
  //wygląd
  font-size: 2rem;
  background-color: #fff;
  box-shadow: 0 0 4px #000;
}

.icons {
  color: red;
  margin: 0 5px;
  &__youtube {
    font-size: 20px;
  }
  &__awards{
    color: $main-color;
  }
}
